<div class="p-5">
  <p *ngIf="order" class="m-0 text-black mb-4 font-SemiBold-s30">
    Order #{{ order.idOfOrder }}
  </p>
  <form
    #Customer="ngForm"
    class="row justify-content-between w-100"
    (ngSubmit)="ngSubmit(Customer.value)"
  >
    <input
      *ngIf="order"
      type="hidden"
      [(ngModel)]="order.idOfOrder"
      name="orderMaked"
    />
    <div
      class="row justify-content-between">
      <div class="d-flex col-4 px-0 mb-4 gap-2 flex-column" *ngFor="let input of inputForm.InputText; index as i">
        <label [for]="input.id">{{ input.label }}</label>
        <input
          type="text"
          [id]="input.id"
          [placeholder]="input.placeHolder"
          [(ngModel)]="input.ng_model"
          (keypress)="numberOnly($event, input.id, i)"
          [name]="input.id"
          class="border-F-radius-s8 w-75 px-3 py-2 border-gray-s2"
        />
        <p class="m-0 CC-alert">{{ input.errorMessage }}</p>
      </div>
      <div class="col-8 px-0">
        <app-input-select
        (dataOfDropdown)="dataOfDropdown($event)"
        [data]="inputForm.InputSelect.slice(0,2)"
        ></app-input-select>
      </div>
      <div class="col-8 px-0">
        <app-input-select
        (dataOfDropdown)="dataOfDropdown($event)"
        [data]="inputForm.InputSelect.slice(2,5)"
        ></app-input-select>
      </div>
    </div>
    <label for="Address">Address</label>
    <textarea
      name="Address"
      id="Address"
      ngModel
      #Address="ngModel"
      rows="4"
      class="w-100 mt-3 border-F-radius-s8 w-75 px-3 py-2 border-gray-s2"
    ></textarea>
  </form>
  <div
    class="row justify-content-between mt-4"
    *ngIf="order"
    style="height: 345px"
  >
    <div class="col-6 py-3 h-100">
      <div
        class="overflow-scroll"
        [style.height]="
          'calc(100% - ' + (indexChanged >= 0 ? '20px' : '0px') + ')'
        "
      >
        <div
          *ngFor="let item of order.itemOrder; index as i"
          class="border-F-radius-s8 divShadow bg-white border-gray-s2 p-2 d-flex justify-content-between align-items-center mb-3"
        >
          <div class="d-flex gap-3 align-items-center">
            <img
              class="img-Background-Cover img-S80 border-F-radius-s8"
              loading="lazy"
              [src]="item.img"
              [alt]="item.name"
            />
            <p class="m-0 d-flex flex-column gap-1~">
              <span class="font-SemiBold-s18 text-black">{{
                item.name | titlecase
              }}</span>
              <span class="text-main font-Bold-s16">{{
                item.price * item.amount | currency
              }}</span>
            </p>
          </div>
          <div>
            <div>
              <p class="m-0 d-flex align-items-center gap-1">
                <i
                  class="d-flex img-Background-Cover IC-minus iC-S30 cursor-click"
                  (click)="addPro('minus', 1, i)"
                ></i>
                <span class="font-Bold-s18 border-0 text-support2">{{
                  item.amount
                }}</span>
                <i
                  class="d-flex img-Background-Cover IC-add-Pro iC-S30 cursor-click"
                  (click)="addPro('add', 1, i)"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        *ngIf="indexChanged >= 0"
        id="update"
        class="btn mt-2 p-2 bg-support1 text-white justify-content-center d-flex align-items-center gap-2"
        (click)="updateOrder()"
      >
        Save new Item
      </button>
    </div>
    <div class="col-5">
      <div class="d-flex flex-column gap-3">
        <p
          class="m-0 font-SemiBold-s20 justify-content-between d-flex align-items-center"
        >
          <span class="">Subtotal</span>
          <span class="">{{ order.totalPrice | currency }}</span>
        </p>
        <p
          class="m-0 font-SemiBold-s18 text-Gray85 justify-content-between d-flex align-items-center"
        >
          <span class="">Tax 14%</span>
          <span class="">{{ (order.totalPrice / 100) * 14 | currency }}</span>
        </p>
        <p
          class="m-0 font-SemiBold-s18 text-Gray85 justify-content-between d-flex align-items-center"
        >
          <span class="">Services 10%</span>
          <span class="">{{ (order.totalPrice / 100) * 10 | currency }}</span>
        </p>
        <p
          class="m-0 py-3 border-T-gray-dash-s2 font-SemiBold-s20 justify-content-between d-flex align-items-center"
        >
          <span class="">Total</span>
          <span class="">{{
            order.totalPrice / 10 + order.totalPrice / 14 + order.totalPrice
              | currency
          }}</span>
        </p>
      </div>
      <div class="d-flex mt-5 align-items-center justify-content-between">
        <button
          type="type"
          class="btn px-4 bg-main py-3 text-white justify-content-center d-flex align-items-center gap-2"
          (click)="openReset()"
        >
          Print
          <i class="d-flex img-Background-Cover IC-print iC-S20"></i>
        </button>
        <button
          type="type"
          class="btn px-5 bg-support1 py-3 text-white justify-content-center d-flex align-items-center gap-2"
          (click)="ngSubmit(Customer.value)"
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>

<app-snack-bar
  [errorMessage]="errorMessage"
  [successMessage]="successMessage"
></app-snack-bar>

<app-print-order
  [order]="order"
  [customer]="{
    name: Customer.value.Name_Customer,
    id: Customer.value.Id_Customer
  }"
  class="modal fade"
  id="make_order"
  tabindex="-1"
  aria-labelledby="addProLabel"
  aria-hidden="true"
></app-print-order>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="line-spin-fade"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
