<div class="position-relative vh-100 d-flex justify-content-center">
  <div
    class="bg-black vh-100 w-100 position-absolute top-0 z-2 opacity-50"
  ></div>
  <img
    src="../../../../assets/Images/BG-Image.png"
    alt="Welcome To Our POS !!"
    class="h-100 w-100 img-Background-Cover d-flex"
    loading="lazy"
  />
  <div class="d-flex align-items-center P-Logo position-absolute gap-3">
    <i class="d-flex img-Background-Cover img-logo size-logo"></i>
    <div class="">
      <p class="m-0 font-Bold-s60">
        <span class="text-main">Sale</span><span class="text-white">sprit</span>
      </p>
      <p class="m-0 text-white font-Regular-s24">Restaurant Point of sale</p>
    </div>
  </div>
  <div class="loading-dots position-absolute z-1 d-flex gap-2 justify-content-center">
    <div class="loading-dots--dot"></div>
    <div class="loading-dots--dot"></div>
    <div class="loading-dots--dot"></div>
    <div class="loading-dots--dot"></div>
    <div class="loading-dots--dot"></div>
  </div>
</div>
