// Bold
.font-Bold-s18 {
  font-size: 20px !important;
  // font-family: Montserrat-Arabic-Bold;
}
.font-Bold-s20 {
  font-size: 20px !important;
  // font-family: Montserrat-Arabic-Bold;
}
.font-Bold-s44 {
  font-size: 44px !important;
  // font-family: Montserrat-Arabic-Bold;
}
.font-Bold-s60 {
  font-size: 60px !important;
  // font-family: Montserrat-Arabic-Bold;
}

// Regular
.font-Regular-s24 {
  font-size: 24px !important;
  // font-family: Montserrat-Regular;
}
.font-Regular-s22 {
  font-size: 22px !important;
  // font-family: Montserrat-Regular;
}

//  SemiBold
.font-SemiBold-s18 {
  font-size: 18px !important;
  // font-family: Montserrat-SemiBold;
}
.font-SemiBold-s20 {
  font-size: 20px !important;
  // font-family: Montserrat-SemiBold;
}

// Medium
.font-Medium-s20 {
  font-size: 20px !important;
  // font-family: Montserrat-Arabic-Medium;
}
