.icon-auth-disgin {
  background-image: url(../assets/icon/BG-image-Auth.svg);
}
.icon-email {
  background-image: url(../assets/icon/email.svg);
}
.icon-passwword {
  background-image: url(../assets/icon/Lock.png);
}
.icon-facebook {
  background-image: url(../assets/icon/Facebook.svg);
}
.icon-google {
  background-image: url(../assets/icon/google.svg);
}
.icon-sad {
  background-image: url(../assets/icon/sad.svg);
}
.icon-home {
  background-image: url(../assets/icon/iC-home.svg);
}
.icon-customers {
  background-image: url(../assets/icon/iC-customers.svg);
}
.icon-dashboard {
  background-image: url(../assets/icon/iC-dashboard.svg);
}
.icon-messages {
  background-image: url(../assets/icon/iC-messages.svg);
}
.icon-notification {
  background-image: url(../assets/icon/iC-notification.svg);
}
.icon-order {
  background-image: url(../assets/icon/iC-order.svg);
}
.icon-product {
  background-image: url(../assets/icon/iC-product.svg);
}
.icon-setting {
  background-image: url(../assets/icon/iC-setting.svg);
}
.icon-add {
  background-image: url(../assets/icon/add.svg);
}

.iC-S20 {
  width: 20px;
  height: 20px;
}

.iC-S30 {
  width: 30px;
  height: 30px;
}

.iC-S50 {
  width: 50px;
  height: 50px;
}
