.icon-auth-disgin {
  background-image: url(../assets/icon/BG-image-Auth.svg);
}
.icon-email {
  background-image: url(../assets/icon/email.svg);
}
.icon-user {
  background-image: url(../assets/icon/user.svg);
}
.icon-passwword {
  background-image: url(../assets/icon/Lock.png);
}
.icon-facebook {
  background-image: url(../assets/icon/Facebook.svg);
}
.icon-google {
  background-image: url(../assets/icon/google.svg);
}
.icon-sad {
  background-image: url(../assets/icon/sad.svg);
}
.icon-home {
  background-image: url(../assets/icon/iC-home.svg);
}
.icon-customers {
  background-image: url(../assets/icon/iC-customers.svg);
}
.icon-dashboard {
  background-image: url(../assets/icon/iC-dashboard.svg);
}
.icon-messages {
  background-image: url(../assets/icon/iC-messages.svg);
}
.icon-notification {
  background-image: url(../assets/icon/iC-notification.svg);
}
.icon-order {
  background-image: url(../assets/icon/iC-order.svg);
}
.icon-product {
  background-image: url(../assets/icon/iC-product.svg);
}
.icon-setting {
  background-image: url(../assets/icon/iC-setting.svg);
}
.icon-add {
  background-image: url(../assets/icon/add.svg);
}
.IC-add-company-img {
  background-image: url(../assets/icon/img.svg);
}
.IC-card {
  background-image: url(../assets/icon/card.svg);
}
.IC-add-Pro {
  background-image: url(../assets/icon/add-Pro.svg);
}
.IC-minus {
  background-image: url(../assets/icon/minus.svg);
}
.IC-Call-Icon {
  background-image: url(../assets/icon/Call-Icon.svg);
}
.IC-print {
  background-image: url(../assets/icon/print.svg);
}
.IC-print-icon {
  background-image: url(../assets/icon/print-icon.svg);
}
.IC-Search {
  background-image: url(../assets/icon/Search.svg);
}
.IC-QR {
  background-image: url(../assets/icon/Qr-Code.svg);
}
.IC-NotificationNav {
  background-image: url(../assets/icon/NotificationNav.svg);
}
.IC-delete {
  background-image: url(../assets/icon/delete.svg);
}
.IC-edit {
  background-image: url(../assets/icon/edit.svg);
}
.IC-upload {
  background-image: url(../assets/icon/upload.svg);
}

.iC-S16-20 {
  width: 16px;
  height: 20px;
}
.iC-S20 {
  width: 20px;
  height: 20px;
}

.iC-S24 {
  width: 24px;
  height: 24px;
}

.iC-S30 {
  width: 30px;
  height: 30px;
}

.iC-S30-25 {
  width: 30px;
  height: 25px;
}

.iC-S45 {
  width: 45px;
  height: 45px;
}

.iC-S50 {
  width: 50px;
  height: 50px;
}

.iC-S55 {
  width: 55px;
  height: 55px;
}
.iC-S74-48 {
  width: 74px;
  height: 48px;
}