.cursor-click {
  cursor: pointer;
}

// border
.border-F-radius-s8 {
  border-radius: 8px;
}
.border-F-radius-s50 {
  border-radius: 50px;
}

.border-gray-s2 {
  border: 2px #e5e5e5 solid;
}

.border-b-gray-s1 {
  border-bottom: 1px #e5e5e5 solid;
}

.border-r-gray-s1 {
  border-right: 1px #e5e5e5 solid;
}

.border-l-gray-s1 {
  border-left: 1px #e5e5e5 solid;
}

.border-f-main-dash-s2 {
  border: 2px #f67f20 dashed;
}
