<div class=" d-flex flex-column border-r-gray-s1 vh-100">
    <div class="border-b-gray-s1 d-flex align-items-center justify-content-center p-5 pb-4">
        <i class="d-flex img-Logo-name size-logo-name img-Background-Cover cursor-click" routerLink="/Home"></i>
    </div>
    <div class="h-100 py-4 d-flex flex-column justify-content-between">
        <button
          *ngFor="let item of itemOfSideMenu; let i = index"
          [id]="i"
          [name]="item.name"
          class="border-0 py-3 px-4 border-F-radius-s8 m-0 d-flex align-items-center gap-3 mx-3"
          [ngClass]="!_Router.url.includes(item.routing) ? 'opacity-25 bg-transparent' : 'opacity-100'"
          [routerLink]="item.routing"
          [disabled]="item.disabled"
        >
          <i class="d-flex iC-S30 img-Background-Contain {{ item.icon }}"></i>
          {{ item.name }}
        </button>
    </div>
</div>
