<div class="row h-100">
  <section class="col-8 h-100">
      <div class="d-flex justify-content-center align-items-center gap-3">
        <div class="w-75 my-5 d-flex border-F-radius-s50 justify-content-betweengn-items-center border-gray-s2 py-3">
            <i class="IC-Search mx-3 iC-S24 img-Background-Contain d-flex"></i>
            <input class="border-0 w-100" type="text" (keyup)="serachInput($event)" placeholder="Search Here" name="Search" id="Search">
            <i class="IC-QR mx-3 iC-S30-25 img-Background-Contain d-flex"></i>
          </div>
          <i class="IC-NotificationNav iC-S55 img-Background-Cover d-flex"></i>
      </div>
      <app-card [card]="Cards" (id)="addProudact($event)"></app-card>
    <!-- <mat-spinner></mat-spinner> -->
  </section>
  <section class="col-4">
    <app-right-side [order]="order"></app-right-side>
  </section>  
</div>
  
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="line-spin-fade"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<app-snack-bar [errorMessage]="errorMessage"></app-snack-bar>

<app-add-pro 
  (prod)="newOrder($event)"
  [idOfPro]="id"
  class="modal fade"
  id="add_Pro"
  tabindex="-1"
  aria-labelledby="addProLabel"
  aria-hidden="true"
></app-add-pro>
